/* standardizing font */
*{
    font-family: "Open Sans", Helvetica, sans-serif; 
}

/* padding for bottom of page to show over fixed footer */
body {
  padding-bottom: 80px;
}

/* page title */
.title{
    margin-top: 30px;
    text-align: center;
    margin-bottom: 20px;
}

/* Next four format the date and date paging buttons */
.date{
    text-align: center;
    margin-bottom: 20px;
}

.button{
    margin: 0 auto;
    width: 50%;
}

.forback{
    background-color: hsl(300, 100%, 33%);
    border-color: hsl(300, 100%, 33%);
    border-width: 2px;
}

.forback:hover{
    background-color:  hsl(300, 86%, 25%);
    border-color: hsl(300, 86%, 25%);
}

#back{
    float: right;
}

#forward{
    float: left;
}

.headers{
    text-align: center;
    font-size: 20px;
    background-color: hsl(300, 100%, 33%);
    color: white;
    margin-right: 2px;
    margin-left: 2px;
    margin-bottom: 1px;
    border-radius: 5px;

}

.time{
    padding-left: 5px;
}

.svcol{
    text-align: left;
    padding-left: 22px;
}

@media (max-width: 992px){
    .time, .schedule, .svcol{
        width: 33%;
        padding: 0;
    }
    .time{
        text-align: left;
        padding-left: 5px;
    }
    .svcol{
        text-align: right;
        padding-left: 0;
        padding-right: 5px;
    }
}

/* Followig five format the input for saving tasks and column colors based on time and save button */
.input-group-text {
    width: 75px;
    background-color: white;
    font-weight: bold;
    text-align: center;
}

#save{
    width: 75px;
    padding-left: 17px;
    border-radius: 5px;
    margin-bottom: .5px;
}

.past {
  background-color: #ebebeb;
  color: rgb(95, 95, 95);
}

.future {
  background-color: white;
  color: black;
}

.present {
  background-color: hsl(130, 100%, 33%);
  color: white;
}

/* format for fixed footer */
.myFooter{
    -webkit-animation: cyclecolors linear;
    -webkit-animation-duration: 90s;
    -webkit-animation-iteration-count: infinite;
    animation: cyclecolors;
    animation-duration: 90s;
    animation-iteration-count: infinite;
    font-family: "Open Sans", Helvetica, sans-serif;
    color: white;
    padding-top: 5px;
    height: 50px;
    background-color: hsl(300, 100%, 33%);
    margin-top: 20px;
}

@keyframes cyclecolors{
0% {
    background-color: hsl(300, 100%, 33%);
}
16% {
    background-color: hsl(212, 100%, 49%);
}
32% {
    background-color: hsl(130, 100%, 33%);
}
48% {
    background-color: #fdc345;
}
64% {
    background-color: #f89438;
}
96% {
    background-color: #e65453;
}
}
